<%= render partial: 'navbar' %>

<body>
  <div class="row">
    <p class='col-12'>My Discounts</p>
  </div>

  <%= link_to 'Create New Bulk Discount', new_merchant_bulk_discount_path %><br/>
  <br>
  
  <% @discounts.each do |d| %>
    <section id="discount-<%= d.id %>">
      <li><b><%= link_to "Discount: #{d.discount}%", merchant_bulk_discount_path(@merchant, d) %></b> off of <%= d.quantity %> items or more.
      <%= button_to 'Delete', merchant_bulk_discount_path(@merchant, d), method: :delete %></li>
    </section>
  <% end %>
</body>