<%= render partial: 'navbar' %>

<body>
  <div class="row">
    <p class='col-12'>Discount <%= @discount.id %> Info</p>
  </div>

  <h4>Requirements for Discount:</h4>
    <table class="table">
    <thead>
      <tr class="tr">
        <th class="th1">Quantity Needed</th>
        <th class="th1">Discount Given</th>
      </tr>
    </thead>

    <tbody>
      <tr class="tr">
        <td style="text-align:center"><%= @discount.quantity %></td>
        <td style="text-align:center"><%= @discount.discount %></td>
      </tr>
    </tbody>
    </table>
  <%= link_to 'Edit This Discount', edit_merchant_bulk_discount_path(@merchant, @discount) %>
</body>